
<div id="row" class="row">
	<% for(i = 0; i < missingPets.length; i++) { %>
		<div class="col s12 m6">
			<div class="col m12 s12 card">
				<a target="_blank" href="/missingPet/detail/<%= missingPets[i].id %>">
					<div class="card-image waves-effect waves-block waves-light">
						<div id="mainPicture <%= i %>">
							<div id="loader<%= i %>" class="loader">
						 	<img id="master-picture<%= i %>" class="activator master-picture" src="<%= missingPets[i].mainPictureUrl %>">
						 	</div>
						</div>
						<span class="card-title activator master-name col s12 grey image-title">
							名稱：<%= missingPets[i].name %>
							<i class="material-icons right">more_vert</i>
						</span>
					</div>
				</a>
				<div class="card-content flow-text">
					<div class="col s5 column1 truncate">
						<p class="master-kind">
							類別：<%= missingPets[i].kind %>
						</p>
						<p class="master-breed">
							品種：<%= missingPets[i].breed %>
						</p>
						<p class="master-color">
							花色：<%= missingPets[i].color %>
						</p>
						<p class="master-gender">
							<% var petGender = missingPets[i].gender %>
							<% if(petGender == 'male') { %>
								<% petGender = '公' %>
							<% } else if(petGender == 'female') { %>
								<% petGender = '母' %>
							<% } %>
							性別：<%= petGender %>
						</p>
						
					</div>
					<div class="col s7 column2">
						<p class="master-location truncate">
							走失地點：<%= missingPets[i].location %>
						</p>
						<p class="master-missingDate">
							<% var date = missingPets[i].missingDate %>
							走失日期：<%= moment(date).format('L') %>
						</p>
						<p class="master-mostDistantFuture">
							<% var createdDate = missingPets[i].createdAt %>
							<% var updatedDate = missingPets[i].updatedAt %>
							<% var mostDistantFuture = moment().max(createdDate, updatedDate) %>
							更新日期：<%= moment(mostDistantFuture).format('L') %>
						</p>
					</div>
				</div>
			</div>
		</div>
	<% } %>
</div>

<div class = "col s12 m12 center-align">
	<ul class="pagination">
		<% var totalPage = Math.ceil(total/10) %>
		<% var offsetPage = 0 %>

		<!---------------------- create chevron_left icon, if offset <= 0, disabled icon---------------------->

		<% if(Number(offset) <= 0) { %>
			<li id="pagePrevious" class="page disabled"><a><i class="material-icons">chevron_left</i></a></li>
		<% } else { %>
			<li id="pagePrevious" class="page waves-effect"><a><i class="material-icons">chevron_left</i></a></li>
		<% } %>

		<!---------------------- create pagination by total  ----------------------> 
		<% for(var j = 0; j < totalPage; j++) { %>
				<% if(Number(offset) === offsetPage) { %>
					<li id="page<%= j+1 %>" class="page waves-effect active"><a><%= j+1 %></a></li>
				<% } else if (Number(offset) < 0 & offsetPage === 0) { %>
					<li id="page<%= j+1 %>" class="page waves-effect active"><a><%= j+1 %></a></li>
				<% } else {%>
					<li id="page<%= j+1 %>" class="page waves-effect"><a><%= j+1 %></a></li>
				<% } %>
				<% offsetPage += 10; %>
		<% } %>

		<!---------------------- create chevron_right icon ---------------------->
		<% if (Number(offset) === ((totalPage * 10) - 10) || Number(offset) === Number(total)) { %>
			<li id="pageNext" class="page disabled"><a><i class="material-icons">chevron_right</i></a></li>
		<% } else { %>
			<!---- <% if (Number(offset) < 0) { %>
				<li id="pageNext" class="page waves-effect"><a href="/missingPet/master?limit=10&offset=<%= 10 %>"><i class="material-icons">chevron_right</i></a></li>
			<% } else { %>
				<li id="pageNext" class="page waves-effect"><a href="/missingPet/master?limit=10&offset=<%= Number(offset) + 10 %>"><i class="material-icons">chevron_right</i></a></li>
			<% } %> ----->

			<li id="pageNext" class="page waves-effect"><a><i class="material-icons">chevron_right</i></a></li>

		<% } %>	
  	</ul>
</div>


<br>
<%= req.getLocale() %>
<br>
<%= Math.ceil(total/10) %>
<br>
資料總數：<%=total%>
<br>
<%= missingPets.length %>

<pre>

offset = <%= offset %>
limit = <%= limit %>
type of offset = <%= typeof offset %>
<%= JSON.stringify(missingPets, 0, 4) %>
</pre>



<!------------ JavaSctipt --------------->
<script>
	(function (global) {
		var dc = {};
		dc.offset = <%- offset %>;
		dc.limit = <%- limit %>;
		dc.total = <%- total %>;
		global.$dc = dc;
	})(window);
</script>
<script type="text/javascript" src="/js/view_specific/missingpet/master.js"></script>

