
<div id="row" class="row">
	
</div>

<div class = "col s12 m12 center-align">
	<ul class="pagination">
		<% var totalPage = Math.ceil(total/10) %>
		<% var offsetPage = 0 %>

		<!---------------------- create chevron_left icon, if offset <= 0, disabled icon---------------------->

		<% if(Number(offset) <= 0) { %>
			<li id="pagePrevious" class="page disabled"><a><i class="material-icons">chevron_left</i></a></li>
		<% } else { %>
			<li id="pagePrevious" class="page waves-effect"><a><i class="material-icons">chevron_left</i></a></li>
		<% } %>

		<!---------------------- create pagination by total  ----------------------> 
		<% for(var j = 0; j < totalPage; j++) { %>
				<% if(Number(offset) === offsetPage) { %>
					<li id="page<%= j+1 %>" class="page waves-effect active"><a><%= j+1 %></a></li>
				<% } else if (Number(offset) < 0 & offsetPage === 0) { %>
					<li id="page<%= j+1 %>" class="page waves-effect active"><a><%= j+1 %></a></li>
				<% } else {%>
					<li id="page<%= j+1 %>" class="page waves-effect"><a><%= j+1 %></a></li>
				<% } %>
				<% offsetPage += 10; %>
		<% } %>

		<!---------------------- create chevron_right icon ---------------------->
		<% if (Number(offset) === ((totalPage * 10) - 10) || Number(offset) === Number(total)) { %>
			<li id="pageNext" class="page disabled"><a><i class="material-icons">chevron_right</i></a></li>
		<% } else { %>
			<!---- <% if (Number(offset) < 0) { %>
				<li id="pageNext" class="page waves-effect"><a href="/missingPet/master?limit=10&offset=<%= 10 %>"><i class="material-icons">chevron_right</i></a></li>
			<% } else { %>
				<li id="pageNext" class="page waves-effect"><a href="/missingPet/master?limit=10&offset=<%= Number(offset) + 10 %>"><i class="material-icons">chevron_right</i></a></li>
			<% } %> ----->

			<li id="pageNext" class="page waves-effect"><a><i class="material-icons">chevron_right</i></a></li>
		<% } %>	
  	</ul>
</div>

<script type="text/javascript" src="/js/view_specific/missingpet/master.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>

<!------------ JavaSctipt --------------->
<script>
	document.addEventListener("DOMContentLoaded",  function() {
		var options = {};
		options.offset = <%- offset %>;
		options.limit = <%- limit %>;
		options.total = <%- total %>;
		options.missingPets = <%- JSON.stringify(missingPets) %>;
		runMasterJs(options);
	});
</script>


