
<!-- Option 1 -->

<% /* for(i = 0; i < missingPets.length; i++) { %>
	<div class="container">
		<div class="row card-panel teal lighten-2">
			<div class="col m12 s12">
				<img class="col m5 s12 responsive-img master-picture" src="http://placehold.it/640x480"> <!-- <%= missingPets[i].mainPictureUrl%> -->
				<div class="col m3 s12 column1">
					<p class="master-name">
						名稱：<%= missingPets[i].name %>
					</p>
					<p class="master-kind">
						類別：<%= missingPets[i].kind %>
					</p>
					<p class="master-breed">
						品種：<%= missingPets[i].breed %>
					</p>
					<p class="master-color">
						花色：<%= missingPets[i].color %>
					</p>
				</div>
				<div class="col m4 s12 column2">
					<p class="master-location">
						走失地點：<%= missingPets[i].location %>
					</p>
					<p class="master-missingDate">
						走失日期：<%= missingPets[i].missingDate %>
					</p>					
				</div>
				<div class="col s12">
					<p class="master-description">
					描述：<%= missingPets[i].description %>
					</p>
				</div>
			</div>
		</div>
	</div>
<% } */%>



<!-- Option 2 -->

<div id="row" class="row">
	<% for(i = 0; i < missingPets.length; i++) { %>
		<div class="col s12 m6">
			<div class="col m12 s12 card">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator master-picture" src="http://placehold.it/640x480"> <!-- <%= missingPets[i].mainPictureUrl%> -->
					<span class="card-title activator master-name col s12 grey image-title">
						名稱：<%= missingPets[i].name %>
						<i class="material-icons right">more_vert</i>
					</span>
				</div>
				<div class="card-content flow-text">
					<!-- <div class="card-top">
						<span class="card-title activator master-name grey">
							名稱：<%= missingPets[i].name %>
							<i class="material-icons right">more_vert</i>
						</span>
					</div> -->
					<div class="col s5 column1 truncate">
						<p class="master-kind">
							類別：<%= missingPets[i].kind %>
						</p>
						<p class="master-breed">
							品種：<%= missingPets[i].breed %>
						</p>
						<p class="master-color">
							花色：<%= missingPets[i].color %>
						</p>
						<p class="master-gender">
							<% var petGender = missingPets[i].gender %>
							<% if(petGender == 'male') { %>
								<% petGender = '公' %>
							<% } else if(petGender == 'female') { %>
								<% petGender = '母' %>
							<% } %>
							性別：<%= petGender %>
						</p>
						
					</div>
					<div class="col s7 column2">
						<p class="master-location">
							走失地點：<%= missingPets[i].location %>
						</p>
						<p class="master-missingDate">
							<% var date = missingPets[i].missingDate %>
							走失日期：<%= moment(date).format('L') %>
						</p>			
					</div>
				</div>
				<div class="card-reveal flow-text">
					<span class="card-title activator master-name">
						<%= missingPets[i].name %>
						<i class="material-icons right">close</i>
					</span>
					<div class="reveal-left col s6">
						<p class="master-kind">
							類別：<%= missingPets[i].kind %>
						</p>
						<p class="master-breed">
							品種：<%= missingPets[i].breed %>
						</p>
						<p class="master-color">
							花色：<%= missingPets[i].color %>
						</p>
						<p class="master-age">
							年齡：<%= missingPets[i].age %> 歲
						</p>
					</div>
					<div class="reveal-right col s6">
						<p class="master-neuter">
							<% if(missingPets[i].neuter == true) { %>
								<% var petNeuter = '有' %>
							<% } else if(missingPets[i].neuter == false) { %>
								<% var petNeuter = '無' %>
							<% } %>
							結紮：<%= petNeuter %>
						</p>
						<p class="master-hasCollar">
							<% if(missingPets[i].hasCollar == true) { %>
								<% var petCollar = '有' %>
							<% } else if(missingPets[i].hasCollar == false) { %>
								<% var petCollar = '無' %>
							<% } %>
							項圈：<%= petCollar %>
						</p>
						<p class="master-hasMicrochip">
							<% if(missingPets[i].hasMicrochip == true) { %>
								<% var petMicrochip = '有' %>
							<% } else if(missingPets[i].hasMicrochip == false) { %>
								<% var petMicrochip = '無' %>
							<% } %>
							晶片：<%= petMicrochip %>
						</p>
						<p class="master-weight">
							體重：<%= missingPets[i].weight %> kg
						</p>
					</div>
					<p class="master-description left">
						描述：<%= missingPets[i].description %>
					</p>
				</div>
			</div>
		</div>
	<% } %>
	<div class = "col s12 m12 center-align">
		<ul class="pagination">
		    <li id="pagePrevious" class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
		    <li id="page1" class="active page" onclick="buildMasterPage(1)"><a href="#!">1</a></li>
		    <li id="page2" class="waves-effect page" onclick="buildMasterPage(2)"><a href="#!">2</a></li>
		    <li id="page3" class="waves-effect page" onclick="buildMasterPage(3)"><a href="#!">3</a></li>
		    <li id="page4" class="waves-effect page" onclick="buildMasterPage(4)"><a href="#!">4</a></li>
		    <li id="page5" class="waves-effect page" onclick="buildMasterPage(5)"><a href="#!">5</a></li>
		    <li id="pageNext" class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
	  	</ul>
	</div>
</div>



<pre>
<%= 
JSON.stringify(missingPets, 0, 4)
%>
</pre>

